header {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 4rem;
}

.header__title {
  font-size: 1.6rem;
  color: var(--dark-desaturated-blue);
}

.header__subtitle {
  font-size: 0.84rem;
  font-weight: 800;
  color: var(--grayish-blue);
}
